<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" *ngFor="let i of data">
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.thumbnailUrl}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">{{i.albumId}}</p>
                          <h5 class="card-title">{{i.id}}{{i.title}}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="{{i.url}}" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


